.header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6008a0;
}

.header__left{
    display: flex;
    margin-right: 800px;
}

.header__left >img{
    width: 110px;
    height: 90px;
    padding: 5px;
    border-radius: 40px;
}

